@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body::-webkit-scrollbar {
  background: #f5f5f5;
  overflow-x: hidden;
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}
.btn {
  background: #fff;
  color: #212121;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.stroke-text {
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(16, 224, 207);
}

.btn {
  background-color: rgb(16, 224, 207);
  padding: 0.5rem;
  font-weight: bold;
  border: 4px solid transparent;
  transition: 300ms all;
  border-radius: 0%;
}

.btn:hover {
  cursor: pointer;
}

.blur {
  background: aqua;
  position: absolute;
  border-radius: 50%;
  filter: blur(150px);
  z-index: -9;
}
.container {
  overflow: hidden;
  overflow: hidden;
}
